.header {
  position: fixed;
  background-color: $white;
  display: inline-block;
  width: 100%;
  z-index: 20000;
  padding: 10px 0;
  top : 72px;
  &__active .header__link {
    color: $slatted;
    font-weight: 700;
    text-decoration-line: underline;
  }
  &__blocks {
    display: flex;
  }
  &__right {
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
      gap: 30;
    }
  }
  &__link {
    color: $black;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__order {
    justify-content: center;
    align-items: center;
    color: $black_v2;
    text-align: right;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    button {
      outline: none;
      border: none;
      border-radius: 30;
      padding: 6px 18px;
      background-color: $slatted;
    }
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: block;
    }
  }
  &__blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    gap: 28px;
    @media (max-width: 767px) {
      display: none;
    }
    a {
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
