.container {
  max-width: 1140px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.promo {
  background: var(--White, #FEFEFE);
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

.promo__main-text {
  margin-top: 150px;
}

.promo__main-text h2 {
  color: var(--Black, #2C2C2C);
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  width: 502px;
}

.promo__main-text p {
  color: var(--Black, #2C2C2C);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 502px;
  padding-top: 28px;
}

.promo__button {
  border-radius: 30px;
  background: var(--Button-green, #BBF330);
  padding: 6px 18px;
  margin-top: 50px;
  color: var(--Black, #2C2C2C);
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  outline: none;
  border: none;
}

.promo__photo {
  width: 580px;
  height: 580px;
  border-radius: 580px;
  border: 26px solid var(--Yellow-main, #FFE550);
  background: var(--White, #FEFEFE);
  position: relative;
}

.promo__item img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.promo__photo-main {
  height: 100%;
  width: 100%;
}

.promo__photo-arrow-left {
  position: absolute;
  top: 50%;
  left: -2%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.promo__photo-arrow-right {
  position: absolute;
  top: 50%;
  right: -13%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.order-modal {
  position: fixed;
  z-index: 100;
  transition: 0.3s;
  backdrop-filter: blur(3px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.order-modal__container {
  width: 458px;
  height: 449px;
  border-radius: 30px;
  background: #FFE550;
  position: absolute;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-hidden-order {
  opacity: 0;
  pointer-events: none;
}

.order-modal__wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 12px 12px 0 0;
}

.block-elipse {
  width: 32px;
  height: 32px;
  background: #FFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  border-radius: 100%;
  position: relative;
}
.block-elipse span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.order-modal__title {
  text-align: center;
  color: var(--Black, #2C2C2C);
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.order-modal__input-title {
  color: var(--Black, #2C2C2C);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.order-modal__input input {
  width: 394px;
  height: 48px;
  border-radius: 30px;
  border: 1px solid rgba(18, 18, 18, 0.12);
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15) inset;
  outline: none;
  padding: 0 0 0 12px;
}

.order-modal__form {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.order-modal__button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 32px;
  width: 106px;
  padding: 10px 0;
  border-radius: 30px;
  border: 2px solid var(--Dark-green, #7EB101);
  background: #fff;
  cursor: pointer;
  transition: 0.25s;
  color: var(--Black, #2C2C2C);
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.order-modal__button:hover {
  border: 2px solid var(--Dark-green, #7EB101);
  background: var(--Button-green, #BBF330);
}

/*# sourceMappingURL=index.css.map */
