<section class="favorits" id="favorits">
  <div class="container">
    <h2 class="favorits__title">Some of Our Favorites</h2>
    <p class="favorits__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorits__list">
      <li class="favorits__item">
        <picture>
          <source srcset="./images/gamburger1x_desktop.png 1x, ./images/gamburger2x_desktop.png 2x   " media="(min-width:1280px)" />
          <source srcset="./images/gamburger1x_desktop_planshet.png 1x, ./images/gamburger2x_desktop_planshet.png 2x   " media="(min-width:768px)" />
          <source srcset="./images/gamburger1x_desktop_mobili.png 1x, ./images/gamburger2x_desktop_mobili.png 2x "media="(min-width:320px)"  />
          <img src="./images/img/gamburger1x_desktop.png" alt="gg">
        </picture>
        <picture>
            <source srcset="./images/Pasta1x_desktop.png 1x, .images/Pasta1x_desktop.png 2x " media="(min-width:1280px)" />
            <source srcset="./images/Pasta1x_desktop_tablet.png 1x, ./images/Pasta2x_desktop_tablet.png 2x " media="(min-width:768px)" />
            <source srcset="./images/Pasta1x_desktop_mobili.png 1x, ./images/Pasta2x_desktop_mobili.png 2x "media="(min-width:320px) " />
            <img src="../images/img/Pasta1x_desktop.png" alt="gg">
        </picture>
        <picture>
            <source srcset="./images/pizza1x_desktop.png 1x, .images/pizza2x_desktop.png 2x " media="(min-width:1280px)" />
            <source srcset="./images/pizza1x_desktop_tablet.png 1x, ./images/pizza2x_desktop_tablet.png 2x " media="(min-width:768px)" />
            <source srcset="./images/pizza1x_desktop_mobili.png 1x, ./images/pizza2x_desktop_mobili.png 2x "media="(min-width:320px)"  />
            <img src="../images/img/pizza1x_desktop.png" alt="gg">
        </picture>
        <picture>
          <source srcset="./images/chicken1x_desktop.png 1x, ./images/chicken2x_desktop.png 2x " media="(min-width:1280px)" />
          <source srcset="./images/chicken1x_desktop_tablet.png 1x, ./image/chicken2x_desktop_tablet.pngs 2x " media="(min-width:768px)" />
        </picture>
        <picture>
          <source srcset="./images/salat1x_desktop.png 1x, ./images/salat2x_desktop.png 2x " media="(min-width:1280px)" />
          <source srcset="./images/salat1x_desktop_tablet.png 1x, ./images/salat2x_desktop_tablet.png 2x " media="(min-width:768px)" />
        </picture>
        <picture>
          <source srcset="./images/borshch1x_desktop.png 1x, ./images/borshch2x_desktop.png 2x " media="(min-width:1280px)" />
          <source srcset="./images/borshch1x_desktop_tablet.png 1x, ./images/borshch1x_desktop_tablet.png 2x " media="(min-width:768px)" />
        </picture>
      </li>
    </ul>
  </div>
</section>
