
<section class="favorits">
    <h2 class="favorits__title">
        Some of Our Favorites
    </h2>
    <p class="favorits__subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class='favorits__photos'> 
        <li class='favorits__item'> 
          <picture> 
            <source srcset='./images/favorits/gamburger.png 1x, ./images/favorits/gamburger.2x.png  2x' media="(min-width:1200px)">
            <source srcset='./images/favorits/gamburger.tablet.png 1x, ./images/favorits/gamburger.tablet.2x.png 2x'  media="(min-width:767px)"> 
            <source srcset='./images/favorits/gamburger.mobile.png 1x, ./images/favorits/gamburger.mobile.2x.png 2x'  media="(max-width:767px)"> 
            <img src='./images/favorits/gamburger.png' alt='gamburger'> 
          </picture>
        </li> 
        <li class='favorits__item'> 
          <picture> 
            <source srcset='./images/favorits/pasta.png 1x, ./images/favorits/pasta.2x.png  2x' media="(min-width:1200px)">
            <source srcset='./images/favorits/pasta.tablet.png 1x, ./images/favorits/pasta.tablet.2x.png 2x'  media="(min-width:767px)"> 
            <source srcset='./images/favorits/pasta.mobile.png 1x, ./images/favorits/pasta.mobile.2x.png 2x'  media="(max-width:767px)"> 
            <img src='./images/favorits/pasta.png' alt='pasta'> 
          </picture> 
        </li>    
        <li class='favorits__item'> 
          <picture> 
            <source srcset='./images/favorits/pizza.png 1x, ./images/favorits/pizza.2x.png  2x' media="(min-width:1200px)">
            <source srcset='./images/favorits/pizza.tablet.png 1x, ./images/favorits/pizza.tablet.2x.png 2x'  media="(min-width:767px)"> 
            <source srcset='./images/favorits/pizza.mobile.png 1x, ./images/favorits/pizza.mobile.2x.png 2x'  media="(max-width:767px)"> 
            <img src='./images/favorits/pizza.png' alt='pizza'> 
          </picture> 
        </li>    
        <li class='favorits__item favorits__photos--second'> 
          <picture> 
            <source srcset='./images/favorits/chicken.png 1x, ./images/favorits/chicken.2x.png  2x' media="(min-width:1200px)">
            <source srcset='./images/favorits/chicken.tablet.png 1x, ./images/favorits/chicken.tablet.2x.png 2x'  media="(min-width:767px)"> 
            <img src='./images/favorits/chicken.png' alt='chcken'> 
          </picture> 
        </li>    
        <li class='favorits__item favorits__photos--second '> 
          <picture> 
            <source srcset='./images/favorits/salat.png 1x, ./images/favorits/salat.2x.png  2x' media="(min-width:1200px)">
            <source srcset='./images/favorits/salat.tablet.png 1x, ./images/favorits/salat.tablet.2x.png 2x'  media="(min-width:767px)"> 
            <img src='./images/favorits/salat.png' alt='salat'> 
          </picture> 
        </li>    
        <li class='favorits__item favorits__photos--second'> 
          <picture> 
            <source srcset='./images/favorits/borshch.png 1x, ./images/favorits/borshch.2x.png  2x' media="(min-width:1200px)">
            <source srcset='./images/favorits/borshch.tablet.png 1x, ./images/favorits/borshch.tablet.2x.png 2x'  media="(min-width:767px)"> 
            <img src='./images/favorits/borshch.png' alt='borshch'> 
          </picture> 
        </li>    
      </ul>
    
        </section>

