<footer class="footer" id="footer" data-aos="flip-left">
  <div class="container">
    <div class="footer__wrapper" >
      <div class="footer-block-one">
        <img src="./images/footer/footer-logo.svg" alt="logo" />
        <ul class="footer__nav-list">
          <li class="footer__nav-item"><a href="#promo">Home</a></li>
          <li class="footer__nav-item"><a href="#about">About</a></li>
          <li class="footer__nav-item"><a href="#say">Service</a></li>
          <li class="footer__nav-item"><a href="#favorits">Menu</a></li>
          <li class="footer__nav-item"><a href="#footer">Contact</a></li>
        </ul>
      </div>
      <div class="footer-block-two">
        <form>
          <label class="footer__block-two-title">Subscribe</label>
          <div class="footer__form--wrapper">
            <input
              class="footer__block-two-input"
              type="email"
              placeholder="Enter your email"
              required
            />
            <button class="footer__block-two-button">Subscribe</button>
          </div>
        </form>
        <h5 class="footer__block-two-subtitle">
          By subscribing you agree to with our <a href="#">Privacy Policy</a>
        </h5>
      </div>
    </div>
    <div class="footer-block-three">
      <ul class="footer-block-three-list">
        <li class="footer-block-three-item"><a href="#">Privacy Policy</a></li>
        <li class="footer-block-three-item">
          <a href="#">Terms of Service</a>
        </li>
        <li class="footer-block-three-item">
          <a href="#">Cookies Settings</a>
        </li>
      </ul>
      <span class="footer-bottom-title">2022 FoodSta. All right reserved.</span>
    </div>
  </div>
</footer>
