<footer class='footer'>
  <div class='container'>
    <div class='footer__wrapper'>
      <div class='footer-block-one'>
        <img src='./images/footer/footer-logo.svg' alt='logo'>
        <ul class='footer__nav-list'>
          <li class='footer__nav-item'><a href='#'>Home</a></li>
          <li class='footer__nav-item'><a href='#'>About</a></li>
          <li class='footer__nav-item'><a href='#'>Service</a></li>
          <li class='footer__nav-item'><a href='#'>Menu</a></li>
          <li class='footer__nav-item'><a href='#'>Contact</a></li>
        </ul>
      </div>
      <div class='footer-block-two'>
        <h4 class='footer__block-two-title'>Subscribe</h4>
        <input class='footer__block-two-input' type='email' placeholder='Enter your email'>
        <button class='footer__block-two-button'>Subscribe</button>
        <h5 class='footer__block-two-subtitle'>By subscribing you agree to with our <a href='#'>Privacy Policy</a></h5>
      </div>
    </div>
  </div>
</footer>