<div class="mobile__menu is-hidden menu-container">
  <button class="menu__close menu-toggle">
    <svg  width="12" height="12">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="humburger__list">
    <li class="humburger__item humburger__item--start">
      <a class="humburger__link" href="/">Home</a>
    </li>
    <li class="humburger__item">
      <a class="humburger__link" href="/">About</a>
    </li>
    <li class="humburger__item">
      <a class="humburger__link" href="/">Servise</a>
    </li>
    <li class="humburger__item">
      <a class="humburger__link" href="/">Menu</a>
    </li>
    <li class="humburger__item humburger__item--end">
      <a class="humburger__link" href="/">Contact</a>
    </li>
  </ul>
</div>
