<div class='order-modal is-hidden-order' data-backdrop-order>
  <div class='order-modal__container'>
    <div class='order-modal__wrapper'>
      <div class='block-elipse'>
        <span class='order-modal__close' data-close-order>&times;</span>
      </div>
    </div>
    <h3 class='order-modal__title'>Order Form</h3>
    <form class='order-modal__form'>
      <div class='order-modal__input'>
        <h5 class='order-modal__input-title'>Name</h5>
        <input type='text' placeholder='Your name' required>
      </div>
      <div class='order-modal__input'>
        <h5 class='order-modal__input-title'>Phone number</h5>
        <input type='tel' placeholder='+38(0_ _) _ _ _   _ _   _ _' required>
      </div>
      <div class='order-modal__input'>
        <h5 class='order-modal__input-title'>E-mail</h5>
        <input type='email' placeholder='example@gmail.com' required>
      </div>
      <button class='order-modal__button' >Send</button>
    </form>

  </div>
</div>