<arcticle class='promo'>
  <div class='promo__wrapper'>
      <div class='promo__main-text'>
          <h2>Enjoy Your Favorite Food From Anywhere</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
      </div>
      <div class='promo__photo'>
        <img src='./images/promo_images/promo_photo.png' alt='main-photo'>
      </div>
      <button class='promo__button'>Order Now</button>
  </div>
</arcticle>np