<arcticle class='promo'>
  <div class='container'>
    <div class='promo__wrapper'>
        <div class='promo__main-text'>
            <h2>Enjoy Your Favorite Food From Anywhere</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
          <button class='promo__button' data-open-order>Order Now</button>
        <div class='promo__photo'>
          <img class='promo__photo-main' src='./images/promo_images/promo_photo.png' alt='main-photo'>
          <img class='promo__photo-arrow-left' src='./images/promo_images/promo-left-arrow.svg' alt='arrow'>
          <img class='promo__photo-arrow-right' src='./images/promo_images/promo-right-arrow.svg' alt='arrow'>
        </div>
    </div>
  </div>
</arcticle>