<section class="say" id="say">
  <div class="container">
    <h2 class="say__title animate__animated animate__animate__bounceInDown">What our Customers Say</h2>
    <p class="say__descr animate__animated animate__animate__bounceInDown">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="say__container animate__animated animate__animate__bounceInDown">
      <div class="say__comment animate__animated animate__animate__bounceInDown">
        <div class="say__star">
          <ul class="stars__list">
            <li class="stars__iteam">
              <svg class="stars__star">
                <use href="./images/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="stars__iteam">
              <svg class="stars__star">
                <use href="./images/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="stars__iteam">
              <svg class="stars__star">
                <use href="./images/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="stars__iteam">
              <svg class="stars__star">
                <use href="./images/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="stars__iteam">
              <svg class="stars__star">
                <use href="./images/icons.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
        </div>
        <p class="say__descr--comment">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="say__acount">
          <img
            class="say__photo"
            src="./images/say/member1.png"
            alt="photo member"
          />
          <div class="say__text">
            <p class="say__name">Sumith Shah</p>
            <p class="say__position">Some Dude</p>
          </div>
        </div>
      </div>
      <div class="say__comment animate__animated animate__animate__bounceInDown" <div class="say__star">
        <ul class="stars__list">
          <li class="stars__iteam">
            <svg class="stars__star">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__iteam">
            <svg class="stars__star">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__iteam">
            <svg class="stars__star">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__iteam">
            <svg class="stars__star">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__iteam">
            <svg class="stars__star">
              <use href="./images/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>

        <p class="say__descr--comment">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="say__acount">
          <img
            class="say__photo"
            src="./images/say/member2.png"
            alt="photo member"
          />
          <div class="say__text">
            <p class="say__name">Sumith Shah</p>
            <p class="say__position">Some Dude</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
