.about {
  @media (min-width: 320px) {
    background-image: url(../images/about/bg_mobile.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about/bg_mobile2x.png);
      background-size: cover;
    }
  }
  @media (min-width: 480px) {
    background-size: 100% 769px;
    height: 769px;

    background-image: url(../images/about/bg__480.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about/bg_4802x.png);
    }
  }
  @media (min-width: 768px) {
    background-image: url(../images/about/bg_tablet.png);
    padding: 60px 0 120px;
    background-size: 100% 1140px;
    height: 1140px;
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about/bg_tablet2x.png);
    }
  }
  @media (min-width: 1200px) {
    background-image: url(../images/about/bg_desctop.png);
    padding: 100px 0 200px;
    background-size: 100% 824px;
    
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about/bg_desctop2x.png);
      display: flex;
      justify-content: center;
      
    }
  }
  &__title {
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 50.4px */
    @media (min-width: 320px) {
      font-size: 28px;
      padding: 0 20px;
    }
    @media (min-width: 768px) {
      margin-top: 150px;
      font-size: 42px;
    }
  }
  &__subtitle {
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    @media (min-width: 320px) {
      font-size: 14px;
      line-height: normal;
      padding: 0 28px;
    }
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
  &__photo {
    @media (min-width: 320px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: flex;
    }
    @media (min-width: 1200px) {
      display: none;
    }
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__photo--main {
    @media (min-width: 320px) {
      width: 201.6px;
      height: 255.549px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      margin-top: 41px;
    }
    @media (min-width: 768px) {
      display: block;
      margin: 0;
      width: 357px;
      height: 393.998px;
    }
    @media (min-width: 1200px) {
      width: 550px;
      height: 604px;
      
      
    }
  }
  &__photos:nth-child(1) {
    width: 166px;
    height: 210.425px;
  }
  &__photos {
    @media (min-width:320px) {
      align-items: center;
      margin-bottom: 400px;
      display: flex;
      justify-content: center;
      margin-left: 120px;
      margin-bottom: 850px;
    }
    @media (min-width: 768px) {
      
      justify-content: start;
      align-items: center;
      margin-bottom:350px;
      gap: 40px;
      padding: 32px 0;
    }
  }
  &__buy {
    display: flex;
    justify-content: start;
    gap: 23px;
    padding-left: 20px;
  }
  &__info {
    @media (min-width:320px) {
      margin-top: 400px;
      
    }
   @media (min-width: 768px) {
    margin-top: 400px;
   margin-left: -150px;
    
    
   } 
    @media (min-width:1200px) {

    margin-top:1px ;
    
    }
  }
  &__btn {
    display: inline-flex;
    padding: 10px 22px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid var(--Dark-green, #7eb101);
    background: $white;
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 19.5px */
  }
  &__descr {
    color: var(--Black, #000);
    font-family: Roboto;
    font-size: 13.667px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 20.5px */
    align-items: center;
    display: flex;
  }
  &__photo--blur {
    @media (min-width:320px){
      display: none;
    }
    @media (min-width:768px){
      display: block;
    }
    @media (min-width:1200px) {
      display: none;
    }
   }
}
.benefits {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    padding: 0 116px 0 32px;
    gap: 11;
  }
  @media (min-width:1200px) {
    gap: 68px;
  }
  &__title {
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
    margin: 0;
  }
  &__emmet {
    background-color: $white;
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__descr {
    color: var(--Black, #2c2c2c);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }
  
  }

