.footer {
  height: 450px;
  background: var(--White, $light-white);
  box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.10);
  position: relative;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.footer-block-one {
  display: flex;
  gap: 150px;
  align-items: center;
  padding-top: 30px;
}

.footer-block-two {
  padding-top: 100px;
}

.footer__block-two-input {
  height: 42px;
  padding: 12px 61.5px 12px 12px;
  border-radius: 30px;
  border: 0.854px solid var(--Yellow-main, $yellow);
  background: var(--White, $light-white);
  outline: none;
  margin-top: 12px;
}

.footer__block-two-button {
  color: $black;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;

  padding: 11px 22px;
  border-radius: 30px;
  border: 0.854px solid $coment_grean;
  background: $white;
}

.footer__block-two-subtitle {
  color: var(--Black, $black);
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 12px;

  & a {
    color: var(--Dark-green, $coment_grean);
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }
}

.footer__block-two-title {
  color: var(--Black, $black);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.footer__nav-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}


.footer__nav-item a {
  color: var(--Black, $black);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-block-three {
  padding-top: 130px;
  display: flex;
  justify-content: space-between;
}

.footer-block-three-list {
  display: flex;
  gap: 20px;

  & a {
    color: var(--Dark-green, $coment_grean);
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
  }
}

.footer-bottom-title {
  color: var(--Black, $black);
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-photo {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 768px ) {

  .footer {
    height: 506px;
  }

  .footer__wrapper {
    flex-wrap: wrap;
    padding-top: 100px;
  }

  .footer-block-two {
    padding-top: 40px;
  }

  .footer-block-three {
    padding-top: 100px;
  }

  .footer-block-one {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    height: 610px;
  }

  .footer__wrapper {
    padding-top: 60px;
    flex-wrap: wrap;
  }

  .footer-block-one {
    gap: 80px;

    & img {
      position: relative;
      bottom: 66px;
    }
  }

  .footer__nav-list {
    flex-direction: column;
  }

  .footer__block-two-button {
    margin-top: 20px;
  }

  .footer__block-two-title {
    margin-left: 12px;
  }

  .footer__block-two-input {
    display: flex;
    margin: 12px 0 0 auto;
  }

  .footer__block-two-subtitle {
    padding-top: 20px;
  }

  .footer-block-three {
    flex-direction: column;
    width: 107%;
    padding-top: 50px;
    text-align: center;
    gap: 40px;
  }
}