.order-modal {
  position: fixed;
  z-index: 100;
  transition: 0.3s;
  backdrop-filter: blur(3px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__container {
    width: 458px;
    height: 449px;
    border-radius: 30px;
    background: $yellow;
    position: absolute;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.is-hidden-order {
  opacity: 0;
  pointer-events: none;
}

.order-modal__wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 12px 12px 0 0;
}

.block-elipse {
  width: 32px;
  height: 32px;
  background: #FFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
  border-radius: 100%;
  position: relative;

  & span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.order-modal__title {
  text-align: center;
  color: var(--Black, $black);
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.order-modal__input-title {
  color: var(--Black, $black);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.order-modal__input input {
  width: 394px;
  height: 48px;
  border-radius: 30px;
  border: 1px solid rgba(18, 18, 18, 0.12);
  background: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15) inset;
  outline: none;
  padding: 0 0 0 12px;
}

.order-modal__form {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.order-modal__button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 32px;
  width: 106px;
  padding: 10px 0;
  border-radius: 30px;
  border: 2px solid var(--Dark-green, $green);
  background: $white;
  cursor: pointer;
  transition: 0.25s;

  color: var(--Black, $black);
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.order-modal__button:hover {
  border: 2px solid var(--Dark-green, $green);
  background: var(--Button-green, $light-green);
}