.say {
  background-repeat: no-repeat;
  padding: 60px 0;
 
  // провести ретинізацію зображень згідно прикладу що скинула тобі в пп (коли будеш качати зображення в папці images створи папку say і туди скачуєш зображення що належать до твоєї секції)
  @media (min-width: 320px) {
    
    background-image: url(../images/say/bg_mobile.png);
    @media (min-device-pixel-ratio: 2), 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), 
    (min-resolution: 2dppx) { 
    background-image: url(../images/say/bg_mobile2x.png); 
    background-size: cover;
  }
  }
  @media (min-width: 480px) {
    background-image: url(../images/say/bg_480.png);
    @media (min-device-pixel-ratio: 2), 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), 
    (min-resolution: 2dppx) { 
    background-image: url(../images/say/bg_4802x.png); 
    background-size: cover;
  }
  }
  @media (min-width: 768px) {
    background-image: url(../images/say/bg_tablet.png);
    padding: 60px 0 120px;
    @media (min-device-pixel-ratio: 2), 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi), 
    (min-resolution: 2dppx) { 
    background-image: url(../images/say/bg_tablet2x.png); 
    background-size: cover;
  }
  }
  @media (min-width: 1200px) {
    background-image: url(../images/say/bg.png);
    padding: 100px 0 200px;
    width: 100%;

  }
  &__title {
    color: $black;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin: 0;
    @media (min-width: 320px) {
      font-size: 28px;
    }
    @media (min-width: 768px) {
      font-size: 42px;
    }
  }
  &__descr {
    color: $black;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 28px 0 0 0;
    &--comment {
      color: $black;
      margin-top: 28px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @media (min-width: 320px) {
        font-size: 16px;
      }
      @media (min-width: 768px) {
        font-size: 18px;
      }
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
    gap: 24px;
    @media (min-width: 768px) {
      gap: auto;
    }
  }

  &__comment {
    background-color: #fff;
    border-radius: 0 30px 30px;
    padding: 12px;
    @media (min-width: 320px) {
      width: 280px;
      height: 247px;
    }
    @media (min-width: 768px) {
      width: 336px;
      height: 244px;
    }
    @media (min-width: 1200px) {
      width: 501px;
      height: 227px;
    }
  }

  &__acount {
    margin-top: 40px;
    display: flex;
    gap: 16px;
    border-right: 1px solid $coment_grean;
    width: 160px;
  }
  &__name {
    color: $black;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
    margin: 0;
  }
  &__position {
    color: $black;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    margin: 0;
  }
  &__line {
    width: 1px;
    height: 52px;
    background-color: $coment_grean;
    margin: 0;
  }
  &__photo > img {
    width: 48px;
    height: 48px;
  }
}

