.subscribe {
  position: relative;
  top: -50px;
    
  @media (min-width:768px) {

    top: -80px;
  }
  @media (min-width: 1200px) {

    top: -80px;
  }
  &__title {
    color: $black_v2;
    font-family: Roboto;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    @media (min-width: 768px) {
      font-size: 42px;
    }
    @media (max-width: 767px) {
      font-size: 28px;
    }
  }
  &__text {
    padding: 20px 0px 24px 0px;
    color: $black_v2;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;

    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 150%;
    }
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: normal;
    }
  }
  &__block {
<<<<<<< HEAD:src/sass/_components/_subscribe.scss
    @media (min-width: 1200px) {
    display: flex;
      flex-wrap: nowrap;
      flex-direction: row-reverse;
=======
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media (min-width: 768px) {
      justify-content: end;
>>>>>>> 3d094a7f4f056a3edaedfe04ab5b43adb71ba2b5:src/sass/components/_subscribe.scss
    }
    @media (min-width: 1199px) {
      justify-content: start;
    }
  }
  &__banan {
    display: flex;
    @media (min-width: 768px) {
      justify-content: end;
    }
    @media (max-width: 767px) {
      justify-content: center;
    }
  }
  &__box {
    display: flex;
    @media (min-width: 1200px) {
      gap: 32px;
    }
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 22px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__imput--block {
    @media (max-width: 767px) {
      padding-bottom: 20px;
      display: flex;
      justify-content: center;
    }
  }
  &__information {
    @media (min-width: 1200px) {
      padding-top: 46px;
    }
    @media (min-width: 768px) {
      padding-top: 20px;
    }
    @media (max-width: 767px) {
      padding-top: 17px;
    }
  }
  &__input {
    outline: none;
    height: 42px;
    border-color: $yellow;
    border-style: solid;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex: 1 0 0;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    @media (min-width: 768px) {
      padding: 12px 57px 12px 12px;
    }
    @media (max-width: 767px) {
      padding: 12px 0px 12px 12px;
      justify-content: center;
    }
  }
  &__btn {
    color: $black_v2;
    outline: none;
    border: none;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    border-radius: 30px;
    background-color: $slatted;
    padding: 11px 22px;
  }
  &__btn--block {
    display: flex;
    justify-content: end;
  }
  &__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
